<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        {block name="title"}{/block}
    </title>
    <meta content="app-id=518966501" name="apple-itunes-app">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link href="http://chaxun.ikwai.com/statics/templates/shangyun-ssd/images/mobile/touch-icon.png"
          rel="apple-touch-icon-precomposed">
    <link href="http://chaxun.ikwai.com/favicon.ico" rel="shortcut icon">
    <script src="/static/js/jquery190.js" language="javascript" type="text/javascript"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jweixin-1.0.0.js"></script>
    <link rel="stylesheet" href="/static/css/weui.css">
    <link rel="stylesheet" href="/static/css/weui2.css">
</head>
<body>
{block name="body"}{/block}
<div class="weui_tabbar">
    <a href="#" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img data-cfsrc="/static/images/link.png" alt="" src="/static/images/link.png">
        </div>
        <p class="weui_tabbar_label">链接定位</p>
    </a>
    <a href="#" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img data-cfsrc="/static/images/red.png" alt="" src="/static/images/red.png">
        </div>
        <p class="weui_tabbar_label">红包定位</p>
    </a>
    <a href="#" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img data-cfsrc="/static/images/hezuo.png" alt="" src="/static/images/hezuo.png">
        </div>
        <p class="weui_tabbar_label">合作加盟</p>
    </a>
    <a href="#" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img data-cfsrc="/static/images/main.png" alt="" src="/static/images/main.png">
        </div>
        <p class="weui_tabbar_label">个人中心</p>
    </a>
</div>
</body>
{block name="js"}{/block}
</html>