{extend name="Public/base"}
{block name="title"}
    会员中心
{/block}
{block name="body"}
<div class="row weui_btn_primary weui-header">
    <a href="javascript:;" id="back" class="col-25" style="height:40px; color: white;font: 18px; text-align:center; line-height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">返回</a>
    <div class="col-50" style="height:40px; color: white;font: 18px; text-align:center;line-height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">添加定位目标</div>
    <a href="javascript:;" id="refresh" class="col-25" style="height:40px; color: white;font: 18px; text-align:center;line-height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">刷新</a>
</div>
<div class="weui_cells_title">需要定位目标的昵称： </div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_hd"></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" name="userName" id="userName" value="" placeholder="如定位老婆，可以填写 老婆 1 老婆2...">
        </div>
    </div>
</div>
<div class="weui_btn_area" id="addDiv" style="display: none;">
    <p style="font-size:9px;color: #04BE0f;">选择一篇文章：</p>
    <a href="javascript:;" class="weui_btn weui_btn_primary" id="selectWeixinButtoin">选择一篇文章</a>
    <p style="font-size:9px;color: #04BE0f;">也可以选择自定义一篇文章：</p>
    <a href="javascript:;" class="weui_btn weui_btn_primary" id="custombutton">自定义文章</a>
</div>
<div class="weui_cells weui_cells_access">
    <a href="javascript:void(0);" id="selectItem" class="weui_cell" style="display: flex;">
        <div class="weui_cell_hd">
            <img src="./chaxun.ikwai.com_files/20180806132127_3e2d134a68be3ad3c77f474d981354c7_5_mwpm_03200403.jpg" id="picUrl" alt="">
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title" id="title">健身 | 每天坚持100次深蹲，30天后会有什么变化？</h4>
                <p class="weui_media_desc" id="description">墨立方</p>
            </div>
        </div>
        <div class="weui_cell_ft"></div>
    </a>
</div>
<div class="weui_btn_area" id="addDiv">
    <a href="javascript:;" class="weui_btn weui_btn_primary" id="ok">保存</a>
</div>
<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>

{/block}
{block name="js"}

{/block}