{extend name="Public/base"}
{block name="title"}
    会员中心
{/block}
{block name="body"}
<div class="row weui_btn_primary weui-header">
    <a href="javascript:;" id="backButton" class="col-25" style="height:40px; color: white;font: 18px; text-align:center; line-height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">返回</a>
    <div class="col-50" style="height:40px; color: white;font: 14px; text-align:center;line-height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">选择文章</div>
    <a href="javascript:;" id="refresh" class="col-25" style="height:40px; color: white;font: 18px; text-align:center;line-height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"></a>
</div>
<div class="weui_cells_title">选择一篇对方喜欢看的文章类型</div>
<div class="weui_cells weui_cells_access" id="list">
    <a type="74" class="weui_cell" href="javascript:;"><div class="weui_cell_bd weui_cell_primary"><p>头条新闻</p></div> <div class="weui_cell_ft"></div></a>
    <a type="75" class="weui_cell" href="javascript:;"><div class="weui_cell_bd weui_cell_primary"><p>娱乐</p></div> <div class="weui_cell_ft"></div></a>
    <a type="76" class="weui_cell" href="javascript:;"><div class="weui_cell_bd weui_cell_primary"><p>体育</p></div> <div class="weui_cell_ft"></div></a>
    <a type="77" class="weui_cell" href="javascript:;"><div class="weui_cell_bd weui_cell_primary"><p>军事</p></div> <div class="weui_cell_ft"></div></a>
    <a type="78" class="weui_cell" href="javascript:;"><div class="weui_cell_bd weui_cell_primary"><p>科技</p></div> <div class="weui_cell_ft"></div></a>
    <a type="79" class="weui_cell" href="javascript:;"><div class="weui_cell_bd weui_cell_primary"><p>财经</p></div> <div class="weui_cell_ft"></div></a>
    <a type="80" class="weui_cell" href="javascript:;"><div class="weui_cell_bd weui_cell_primary"><p>时尚</p></div> <div class="weui_cell_ft"></div></a>
    <a type="81" class="weui_cell" href="javascript:;"><div class="weui_cell_bd weui_cell_primary"><p>社会新闻</p></div> <div class="weui_cell_ft"></div></a>
    <a type="82" class="weui_cell" href="javascript:;"><div class="weui_cell_bd weui_cell_primary"><p>国内新闻</p></div> <div class="weui_cell_ft"></div></a>
    <a type="83" class="weui_cell" href="javascript:;"><div class="weui_cell_bd weui_cell_primary"><p>国际新闻</p></div> <div class="weui_cell_ft"></div></a>
</div>
{/block}
{block name="js"}

{/block}