{include file="Public/meta" /}
<title>编辑资讯分类</title>
</head>
<body>
<article class="cl pd-20">
	<form action="/admin/type/update" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分类名称：</label>
			<div class="formControls col-xs-7 col-sm-8">
				<input type="text" class="input-text" value="{$type.name}" placeholder="分类名称" id="name" name="name">
				<input type="hidden" name="id" value="{$type.id}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否上架：</label>
			<div class="formControls col-xs-7 col-sm-8">
				<label>
					<input type="radio" name="state" id="state" value="1" {if $type.state==1} checked {/if}>
				上架
				</label>
				<label>
				<input type="radio" name="state" id="state" value="0" {if $type.state==0} checked {/if}>
				下架
				</label>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				{:token()}
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

{include file="Public/footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/Hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/Hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/static/Hui/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/static/Hui/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").validate({
		rules:{
			name:{
				required:true
			},
			state:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			console.log(form);
			$(form).ajaxSubmit(function(res){
				if(res.code == 200){
                    layer.msg('编辑成功!', {icon: 1, time: 1000},function(){
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
						location.reload(location.href);
                    });
                }else {
                    layer.msg(res.message,{icon: 2, time: 1000},function(){
                    	var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
						location.reload(location.href);
                    });
                }
			});
		}
	});

});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>